<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cercadillo.arturo.examen.es.listconacti" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividad1"
            android:label="@string/title_activity_actividad1" >
        </activity>
        <activity
            android:name=".actividad1_b"
            android:label="@string/title_activity_actividad1_b" >
        </activity>
        <activity
            android:name=".actividad2"
            android:label="@string/title_activity_actividad2" >
        </activity>
        <activity
            android:name=".actividad2_b"
            android:label="@string/title_activity_actividad2_b" >
        </activity>
        <activity
            android:name=".actividad3"
            android:label="@string/title_activity_actividad3" >
        </activity>
        <activity
            android:name=".actividad3_b"
            android:label="@string/title_activity_actividad3_b" >
        </activity>
        <activity
            android:name=".ciclo_de_vida"
            android:label="@string/title_activity_ciclo_de_vida" >
        </activity>
        <activity
            android:name=".Pulsame"
            android:label="@string/title_activity_pulsame" >
        </activity>
        <activity
            android:name=".implicitIntents"
            android:label="@string/title_activity_implicit_intents" >
        </activity>
        <activity
            android:name=".BroadcastActivity"
            android:label="@string/title_activity_broadcast" >
        </activity>
        <activity
            android:name=".BroadcastReceiver"
            android:label="@string/title_activity_broadcast_receiver" >
        </activity>
        <activity
            android:name=".MyReceiver"
            android:label="@string/title_activity_my_receiver" >
        </activity>
    </application>

</manifest>
